body{
    background-color: lightblue;
}

.homeHead, .recsHead, .aboutHead{
    text-align: center;
}

.nav{
    text-align: center;
    background-color: white;
    margin: 5px;
    padding: 1px; 
    border: solid, 2px, black;
    border-radius: 10px;
}
.nav li{
    display: inline-block;
    position: relative;
}
.nav li:hover{
    background-color:white;
}

#aboutPara{
    margin: 5px;
}