body{
    background-color: lightblue;
}

.intro{
    text-align: center;
}

.nav{
    text-align: center;
}
.nav li{
    display: inline-block;
    position: relative;
}
.nav li:hover{
    background-color:white;
}